<section class="banker-int">
    <h1>Info for new client:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmitModelBased()">
        <p>
            <label>First Name:</label>
            <input type="text" formControlName="firstName">
        </p>
        <p>
            <label>Last Name:</label>
            <input type="text" formControlName="lastName">
        </p>
        <p>
            <button type="submit" [disabled]="!form.valid">Calculate credit risk</button>
        </p>
    </form>
    <p>
        Hi my name is! : {{ firstName.value}} {{lastName.value}}
      </p>
</section>