section{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid #000;
    border-radius: 10px;
    padding-left: 20px;

}
form{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
input{
width:70%;

}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }