
<router-outlet></router-outlet>
<div class="container">

    <h1>New Credit Form</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmitModelBased()">
        <div class="form-group">
            <label>First Name:</label><br />
            <input type="text" formControlName="firstName" class="form-control" > 
        </div>
        <div class="form-group">
            <label>Last Name:</label><br />
            <input type="text" formControlName="lastName" class="form-control">
        </div>
        <div class="form-group">
            <label>CIN:</label><br />
            <input type="number" formControlName="cin" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Enter your email:</label><br />
            <input type="email" id="email" formControlName="email" placeholder="default@example.com"  class="form-control">
        </div>
        <div class="form-group">
            <label for="situation" >Choose a situation:</label>
            <select id="situation" formControlName="situation"  class="form-control">
                <option value="0">Married</option>
                <option value="1">Single</option>
            </select>
        </div>
        <div class="form-group">
            <label for="kids">How many kids ou have :</label>
            <select id="kids" formControlName="kids"  class="form-control">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">+3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="birthday">date of birth:</label>
            <input type="date" id="birthday" formControlName="birthday" class="form-control">
        </div>
        <div class="form-group">
            <label>Salary:</label>
            <input type="number" formControlName="salary" placeholder="example: 1000 (in dinars)"  class="form-control">
        </div>
        <div class="form-group">
            <label for="credit">Do you have credits :</label>
            <select id="credit" formControlName="credit"  class="form-control">
                <option value="0">No</option>
                <option value="1">Yes, from your Bank</option>
                <option value="2">Yes, from another Bank</option>
            </select>
           
        </div>
        <div class="form-group">
            <label>credit annuity you're paying monthly:</label>
            <input type="number" formControlName="annuity" placeholder="example: 100 (in dinars)" class="form-control">
        </div>
        <div class="form-group">
            <label>credit amount you're applying for:</label>
            <input type="number" formControlName="creditAmount" placeholder="example: 10000 (in dinars)"  class="form-control">
        </div>
        <div class="form-group">
            <label>credit period:</label>
            <input type="number" formControlName="creditPeriod" placeholder="example: 10 (in years)"  class="form-control">
        </div>
        
   
        <button type="submit" [disabled]="!form.valid" (click)=func() class="btn btn-primary">Calculate credit risk</button>
        

    </form>

</div>
