<html>
  <head>
    <title>Title of the document</title>
    <style>
      .button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    
            <!--For Plugins external css-->
            <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->
    
            <!--Theme custom css -->
            <link rel="stylesheet" href="/src/styles2.css">
            <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->
  </head>
  <body>
    
<h1>Credit Assessment App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul class='nav navbar-nav item'>
    <li><a routerLink="/public-interface" routerLinkActive="active">Interface publique</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login banquier</a></li>


    <!-- These ones  just test before routing-->
    <li><a routerLink="/clt" routerLinkActive="active">Client Info</a></li>
    <li><a routerLink="/id" routerLinkActive="active">Client ID</a></li>
    <li><a routerLink="/prld" routerLinkActive="active">Preloaded Info</a></li>
    <li><a routerLink="/banker-interface" routerLinkActive="active">Interface banquier</a></li>
    <li><a routerLink="/resultpublic" routerLinkActive="active">Result for public</a></li>
    <li><a routerLink="/result" routerLinkActive="active">Result for banquier</a></li>
    <li><a routerLink="/val" routerLinkActive="active">Validation</a></li>

  </ul>
</nav> 


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
