/* You can add global styles to this file, and also import other style files */
html, body {
    min-height: 100%;
    }
    body, div { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
      .active {
        background-color: #4CAF50;
      }
      li {
        float: left;
      }
      
      a {
        text-align: center;
        text-decoration: none;
        border: 1px solid white ;
      }
      
      /* Change the link color to #111 (black) on hover */
      a:hover {
        background-color: lightseagreen;
      }



.row{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self:center;
}
  .button {
    width:50%;
    background-color: #FFF;
    color: #333333;
    padding: 15px 25px;
    border-top: 0.5px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 0.5px solid #333333;
    border-left: 1px solid #333333;
  }