<!doctype html>
<html lang="en">
<head>
  <title>Form</title>
  <link rel="stylesheet" href="client-info.component.css" >
</head>
<body>
<p>client-info works!</p>
        <form action="/">
          <h1>Bank Customer Feedback Form</h1>
          <h4>Type of Feedback<span>*</span></h4>
          <select>
            <option value=""></option>
            <option value="">Enquiry</option>
            <option value="2">Complaint</option>
            <option value="3">Compliment</option>
            <option value="4">Suggestion</option>
          </select>
          <h4>Feedback/Enquiry on<span>*</span></h4>
          <select>
            <option value=""></option>
            <option value="1">Credit and Debit Cards</option>
            <option value="2">Deposit</option>
            <option value="3">Housing and Renovation Loan</option>
            <option value="4">iBanking</option>
            <option value="5">Treasures</option>
          </select>
          <h4>Name<span>*</span></h4>
          <div class="title-block">
            <input class="name" type="text" name="name" placeholder="First" />
            <input class="name" type="text" name="name" placeholder="Last" />
          </div>
          <h4>Email Address<span>*</span></h4>
          <input type="text" name="name" />
          <h4>Contact Number<span>*</span></h4>
          <input type="text" name="name"/>
          <h4>Name of Staff who served me</h4>
          <input type="text" name="name"/>
          <h4>Branch visited</h4>
          <input type="text" name="name"/>
          <h4>Feedback/Enquiry</h4>
          <p class="small">Please do not indicate your account or credit card number and banking instruction in your comments. Thank you for your time and valuable feedback.</p>
            <textarea rows="5"></textarea>
          <div class="btn-block">
            <button type="submit" href="/">Assess Risk</button>
          </div>
        </form>

</body>
</html>
